<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>  


  
  <%= button_to "Destroy this project", @project, 
      method: :delete, 
      data: { confirm: "Are you sure you want to permanently delete this project? This action cannot be undone." },
      class: "bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 border-2 border-red-800" %>

  <% case @status %>
  <% when :not_found %>
    <%= button_to "Deploy Project", deploy_project_path(@project), method: :post, data: { turbo: false }, class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  <% when :stopped %>
    <%= button_to "Start Project", start_project_path(@project), method: :post, data: { turbo: false }, class: "bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 mr-2" %>
  <% when :running %>
    <%= button_to "Stop Project", stop_project_path(@project), method: :post, data: { turbo: false }, class: "bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700" %>
  <% end %>

<h2 class="mt-6 font-bold">Container Logs:</h2>
<div class="bg-black text-green-400 p-4 rounded overflow-y-auto text-sm h-96" style="white-space: pre-wrap;" id="logs-container">
  <%= @logs %>
</div>




  

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const logsContainer = document.getElementById('logs-container');
    logsContainer.scrollTop = logsContainer.scrollHeight;
  });
</script>
</div>
